# Sample Team Project

- Used for MMAI 891

In [1]:
import datetime
print(datetime.datetime.now())

2022-02-15 11:48:17.992851

In [2]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import sklearn
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 0.24.1.

# Read Data

In [4]:
df = pd.read_csv("../data/finance_train.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10466 entries, 0 to 10465
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10466 non-null  int64
 1   text      10466 non-null  object
 2   category  10466 non-null  object
dtypes: int64(1), object(2)
memory usage: 245.4+ KB

,id,text,category
0,5396,I made a purchase recently but I have decided ...,request_refund
1,2202,"Cancel my transfer, please.",cancel_transfer
2,3768,How do I change my last name?,edit_personal_details
3,4967,A withdraw I tried to make at the ATM was decl...,declined_cash_withdrawal
4,5622,I tried to buy something online yesterday and ...,declined_transfer

In [6]:
from sklearn.model_selection import train_test_split

X = df['text']
y = df['category']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape
y_train.shape
X_val.shape
y_val.shape

(8372,)

(8372,)

(2094,)

(2094,)

# Feature Engineering Pipeline

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline

vectorizer = CountVectorizer(min_df=.01, max_df=.8, ngram_range=[1,1], max_features=300, stop_words='english')

pipe = Pipeline([('vec', vectorizer),  ('clf', DecisionTreeClassifier(random_state=223))])

# Modeling Fitting

In [8]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('vec',
                 CountVectorizer(max_df=0.8, max_features=300, min_df=0.01,
                                 ngram_range=[1, 1], stop_words='english')),
                ('clf', DecisionTreeClassifier(random_state=223))])

# Model Assessment

In [9]:
from sklearn.metrics import confusion_matrix, classification_report

pred_val = pipe.predict(X_val)
print(confusion_matrix(y_val, pred_val))
print(classification_report(y_val, pred_val))

[[19  0  1 ...  0  0  0]
 [ 0 14  0 ...  0  0  0]
 [ 0  0 13 ...  0  0  0]
 ...
 [ 0  0  0 ...  6  0  0]
 [ 0  0  0 ...  0 14  0]
 [ 0  0  0 ...  0  1 17]]
                                                  precision    recall  f1-score   support

                           Refund_not_showing_up       0.56      0.70      0.62        27
                                activate_my_card       0.10      0.54      0.17        26
                                       age_limit       0.25      0.50      0.33        26
                         apple_pay_or_google_pay       0.62      0.67      0.64        27
                                     atm_support       0.67      0.38      0.48        16
                                automatic_top_up       0.38      0.10      0.15        31
         balance_not_updated_after_bank_transfer       0.57      0.47      0.52        36
balance_not_updated_after_cheque_or_cash_deposit       0.51      0.68      0.58        34
                         beneficiary_not_allowed       0.30      0.67      0.42        21
                                 cancel_transfer       0.78      0.92      0.84        38
                            card_about_to_expire       0.47      0.24      0.31        34
                                 card_acceptance       0.33      0.44      0.38        18
                                    card_arrival       0.45      0.33      0.38        27
                          card_delivery_estimate       0.57      0.31      0.40        26
                                    card_linking       0.75      0.56      0.64        27
                                card_not_working       0.50      0.50      0.50        24
                        card_payment_fee_charged       0.92      0.72      0.81        50
                     card_payment_not_recognised       0.66      0.62      0.64        37
                card_payment_wrong_exchange_rate       0.76      0.86      0.81        22
                                  card_swallowed       0.67      0.73      0.70        11
                          cash_withdrawal_charge       0.70      0.58      0.63        33
                  cash_withdrawal_not_recognised       0.62      0.39      0.48        33
                                      change_pin       1.00      0.95      0.98        21
                                compromised_card       0.46      0.46      0.46        24
                         contactless_not_working       0.38      0.21      0.27        14
                                 country_support       0.00      0.00      0.00        26
                           declined_card_payment       0.72      0.51      0.60        35
                        declined_cash_withdrawal       0.70      0.70      0.70        27
                               declined_transfer       0.90      0.78      0.84        23
             direct_debit_payment_not_recognised       0.90      0.78      0.84        36
                          disposable_card_limits       0.79      0.82      0.81        33
                           edit_personal_details       0.54      0.48      0.51        27
                                 exchange_charge       0.68      0.59      0.63        32
                                   exchange_rate       0.59      0.81      0.68        16
                                exchange_via_app       0.76      0.45      0.57        29
                       extra_charge_on_statement       0.77      0.60      0.68        40
                                 failed_transfer       0.50      0.63      0.56        27
                           fiat_currency_support       0.61      0.76      0.68        25
                     get_disposable_virtual_card       0.78      0.48      0.60        29
                               get_physical_card       0.62      0.42      0.50        19
                              getting_spare_card       0.44      0.50      0.47        30
                            getting_virtual_card       0.81      0.91      0.86        23
                             lost_or_stolen_card       0.57      0.44      0.50        18
                            lost_or_stolen_phone       0.74      0.48      0.58        29
                             order_physical_card       0.18      0.22      0.20        18
                              passcode_forgotten       0.24      0.18      0.21        22
                            pending_card_payment       0.85      0.76      0.81        38
                         pending_cash_withdrawal       0.88      0.79      0.84        29
                                  pending_top_up       0.61      0.42      0.50        33
                                pending_transfer       0.57      0.35      0.43        23
                                     pin_blocked       0.56      0.71      0.63        21
                                 receiving_money       0.43      0.14      0.21        22
                                  request_refund       0.60      0.51      0.55        41
                          reverted_card_payment?       0.51      0.49      0.50        37
                  supported_cards_and_currencies       0.38      0.28      0.32        18
                               terminate_account       0.50      0.32      0.39        25
                  top_up_by_bank_transfer_charge       0.59      0.41      0.48        32
                           top_up_by_card_charge       0.57      0.59      0.58        27
                        top_up_by_cash_or_cheque       0.82      0.33      0.47        27
                                   top_up_failed       0.33      0.19      0.24        27
                                   top_up_limits       0.13      0.68      0.22        28
                                 top_up_reverted       0.39      0.23      0.29        31
                              topping_up_by_card       0.57      0.35      0.43        23
                       transaction_charged_twice       0.53      0.73      0.61        37
                            transfer_fee_charged       0.75      0.41      0.53        37
                           transfer_into_account       0.54      0.75      0.63        20
              transfer_not_received_by_recipient       0.85      0.39      0.54        28
                                 transfer_timing       0.56      0.52      0.54        29
                       unable_to_verify_identity       0.40      0.50      0.44        24
                              verify_my_identity       0.48      0.59      0.53        22
                          verify_source_of_funds       0.33      0.73      0.46        15
                                   verify_top_up       0.87      0.92      0.89        36
                        virtual_card_not_working       0.50      0.88      0.64         8
                              visa_or_mastercard       0.94      0.53      0.68        32
                             why_verify_identity       0.55      0.27      0.36        22
                   wrong_amount_of_cash_received       0.56      0.56      0.56        25
         wrong_exchange_rate_for_cash_withdrawal       0.77      0.57      0.65        30

                                        accuracy                           0.54      2094
                                       macro avg       0.58      0.53      0.53      2094
                                    weighted avg       0.60      0.54      0.55      2094

# Kaggle Predictions

In [10]:
df_test = pd.read_csv('../data/finance_test.csv')
df_test.info()
df_test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2617 entries, 0 to 2616
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2617 non-null   int64
 1   text    2617 non-null   object
dtypes: int64(1), object(1)
memory usage: 41.0+ KB

     id                                               text
0  5037  The ATM cancelled a transaction on me when I w...
1  3461                where is my money from this morning
2   995  I would like to know which fiat currencies are...
3  2890                               Why did I get a fee?
4  9274          I need my card to be activated right now.

In [11]:
pred_test = pipe.predict(df_test['text'])

In [12]:
pred_test

array(['declined_cash_withdrawal', 'verify_source_of_funds',
       'fiat_currency_support', ..., 'card_not_working',
       'transaction_charged_twice', 'direct_debit_payment_not_recognised'],
      dtype=object)

In [13]:
my_submission = pd.DataFrame({'Id': df_test['id'], 'Predicted': pred_test})
my_submission.head()

     Id                  Predicted
0  5037   declined_cash_withdrawal
1  3461     verify_source_of_funds
2   995      fiat_currency_support
3  2890  extra_charge_on_statement
4  9274           activate_my_card

In [14]:
my_submission.to_csv('my_submission.csv', index=False)